@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:"Campton Light DEMO";
	src: url("../font/Rene Bieder - Campton Light DEMO.otf");}

#wrapper{
	width:100%;
	height:auto;
	margin: 0;
	padding: 0;
	background-color: #000000;}


body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;}

header{
		width: 100%;
		height: 50px;
		background: rgba(199,199,199,0.50);
		border-top: solid;
		border-top-color: #FFFFFF;
		border-bottom: solid;
		border-bottom-color: #FFFFFF;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20;
	}
	nav{
		width: 1000px;
		height: 50px;
		margin: auto;
	}
	nav a{
		display: block;
		float: left;
		width: 200px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		text-decoration: none;
		text-decoration-style: none;
		font-family:"Campton Light DEMO", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		font-size: 1.5em;
		color: #FFFFFF;
		margin:0;
	}
	
	.space{
		display: block;
		width: 153px;
		height: 50px;
		float: left;
	}
.site-id{
	width:auto;
	height:auto;}

.site-id img{
	margin: 0;
	position: fixed;
	outline-style: solid;
	outline-color: #FFFFFF;
	outline-width: 3px;
	width: 170px;
	height: 140px;
	right:46.5%;
	top:4%;
}



header .container {
	height: auto;
	overflow: auto;
	width: auto;}





	










#welcome{
	min-width:100%;
	height:1200px;
	position:relative;
	margin:0;
	padding: 0;
	background: url(../img/welcome1.png) center;
	background-size: cover;
}
.parado{
	width:1000px;
	height:600px;
	margin: auto;
	background:url(file:///C:/Users/jamie/Desktop/my-portfolio/New%20folder/welcomechat.png) no-repeat;
	position: relative;
	top:60%;
}
.parado img{
	width:100%;
	height:auto;
}


#welcome img{
	min-width:100%;
	height: auto;
	overflow: auto;}

#direct-links{
	width: 100%;
	height:auto;
	position:relative;
	bottom: 22px;
	overflow: auto;
	margin: 0;
	padding: 0;}

#direct-links img{
	width:100%;
	height: auto;
	overflow: auto;}





@media (max-width:1600px){
	.site-id img{
		right:45%;
	}
}
@media (max-width:1300px){
	.site-id img{
		right:47%;
	}
}	
	
		
	

